#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk
include /usr/share/dpkg/architecture.mk

%:
	dh $@

override_dh_builddeb:
	dh_builddeb -- -Zxz

override_dh_strip:
	# Do nothing, skip it

override_dh_makeshlibs:
	# Do nothing, skip it

override_dh_shlibdeps:
	# Do nothing, skip it
